/* Desktop Styles */

/* Layout containers: center content and set max width */
header {
  max-width: 1280px;
  margin: auto;
}

/* Padding for header child divs */
.headerContainer {
  padding-top: 20px;
}

main {
  max-width: 1280px;
  margin: 0 auto 80px auto; /* Adds space at the bottom for the footer */
}

/* Navigation styles */
nav {
  height: 80px;
  flex: 1 1 80%;
  display: flex;
  justify-content: flex-end;
  overflow: auto; /* Allows horizontal scrolling if needed */
}

nav ul {
  display: flex; /* Horizontal navigation */
}

nav ul li {
  padding: 4px;
  border-bottom: none;
}

nav ul li a {
  margin: 0 15px;
  border: none;
}

nav ul li a:hover {
  border-bottom: 3px solid #fff; /* Highlight on hover */
}

nav{
  /* For mobile toggle */
  overflow: visible;
  margin-top:40px;
  height: 80px;
}
nav.desktop {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Articles section styles */
.articles {
  flex-wrap: nowrap; /* Prevent wrapping on desktop */
  font-size: 1.2rem;
}

.articles > div {
  flex: 1 1 25%; /* Four articles per row */
  padding: 0;
  margin: 0 20px;
}

.articles > div:first-child {
  margin-left: 0;
}

.articles > div:last-child {
  margin-right: 0;
}

/* Footer styles */
footer{
  position:static; 
  /* 
  Footer Positioning:
  - position: fixed; keeps the footer always visible at the bottom of the viewport, even when scrolling.
  - position: static; places the footer after all content, only at the bottom if the page content is
  */
  bottom:0;
  width:100%;
}

